modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 18115
externalPort = 3000

[[ports]]
localPort = 18116
externalPort = 3002

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_bW9kZXN0LWhlcm1pdC03Mi5jbGVyay5hY2NvdW50cy5kZXYk"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_CfycfKfrDIcdKwhCnLmgDHCruam"
REVENUECAT_API_KEY = "sk_XJIjxqkPQpHKPiBRHNaEZDgbefZeu"

[nix]
channel = "stable-25_05"
